
/* Predefined Section */
body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #570337;
    background-color: #fcf8ec;
    background-image: -webkit-linear-gradient(68deg,#d0e8f2 50%,#fcf8ec 50%);
    background-repeat: no-repeat;
    font-family: 'Texturina', serif;
    text-align: center;
}

th,
td {
  width: 110px;
}

hr{
    height:5px;
    border-width:5px;
    color:gray;
}

/* Classes Section */
.Facility{
    margin-bottom: 20px;
}

.First{
    margin: 20px 0 0 0;
}

.showExp{
    margin: 20px 0 0 0;
}

.MngEXp{
    display: inline-flex;
    width: 60%;
}

.form-control.ExpName{
    width: 50vw;
    margin-right: 10px;
}
.form-control.ExpPrice{
    width: 20vw;
}

.AddExp{
    margin-top: 10px;
}

.FilterEndSession{
    display: none;
}

.table thead th{
    vertical-align: middle;
    overflow-wrap: break-word;
}

strong{
    margin-right: 10px;
}

.form-control{
    margin: 40px auto;
    width: 60vw;
}


.table{
    table-layout: fixed;
    overflow-wrap: break-word;
}

.main {
    margin: 0px 20px;
    overflow-x:auto;
    padding: 25px 10px;
}

.navbar ul li{
    padding: 10px 50px;
    border-right:1px solid rgb(255, 255, 255);
}

.navbar ul li:last-child{
    padding: 10px 50px;
    border-right:none;
  }

.navbar ul li a{
   color: white;
   vertical-align: middle;
}
  
.Online{
    background-color: 	#FFA500;
}